<head>
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
</head>
<body>


  <div class="jumbotron">
    <div class=container>
      <h1>Soko TZ</h1>
      <h2>Your #1 supplier of Fresh Veggies & Fruits</h2>
      <p>You Order, We Deliver</p>
      <p><a class="btn btn-primary btn-lg" href="#" role="button">Order Now</a></p>


    </div>
</div>
</body>
